body{
    margin: 0px;
    padding: 0px;
    background-image: url(cal.jpg);
    background-size:cover;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #3a4452;
    padding: 10px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    margin: 10px;
    color: white;
    box-shadow: -8px -8px 15px rgba(255,255,255,0),5px 5px 15px rgba(0,0,0,0.2);
    
}
form input.equal{
    width: 150px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
form .display input{
    text-align: right;
    font-size: 45px;
    box-shadow: none;
    flex: 1;
}
form input.operator{
    color:aqua;
}