.container{
    width:350px;
    height:430px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    display: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    margin-left: 500px;
    margin-top: 100px;
}
.heading{
    padding-top: 10px;

}
.fname{
    width:80%;
    border-radius: 7px;
    padding:7px;
}
.password{
    margin-top: 25px;
    width: 80%;
    border-radius: 7px;
    padding: 7px;
}
.container .heading{
    padding-left: 30px;
    text-align: left;
           
}
.container .details{
    text-align: left;
    padding-left:30px;

}
.password{
    margin-top: 3px;;
}
.forgot-password{
    margin-top: 10px;
}
#loginbtn{
    width:80%;
    background-color: rgb(1, 1, 190);
    margin-top: 15px;
    text-align: center;
    padding: 3px;
    color:white;
    border-radius: 10px;
    cursor: pointer;
}