#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #657297;
    width: 100%;
   
}
html{
   scroll-behavior: smooth;

}

#header ul a{
    text-decoration: none;
    width:100%;
    margin: 10px;
    padding: 10px;
    color:white;
    margin:20px;

}
#header ul{
    list-style: none;
    display: inline-flex;


}
#header ul a:hover{
    transition: 2s;
    background-color: #022583;
    border-radius: 10px;

} 

img{
    	float: right;
}
#About img{
	margin: 50px; 
}
h1{
	margin:20px;
	margin-left:50px;
}

p{
	font-size:18px;
	margin:20px 50px;
}
#submit{
	margin:50px 70px;
	padding: 15px 25px;
	background-color:	#008CBA;
	border-radius:5px;
}

.fa-linkedin{
	font-size: 50px;
	color: blue;
}

.fa-instagram{
	font-size:50px;
	color: red;
	
}

.fa-envelope{
	font-size: 50px;
}
#contact{
	margin:50px;
}
.img1{
	float:left;
	margin:100px;
}

#contact a{
	text-decoration: none;
}

.fa-file{
	font-size: 50px;
}

h3{
	margin-left: 200px;
}

h2{
	text-align:center;
}

#intern{
	text-align:center;
	font-size:20px;
}
.fa-code{
	font-size:30px;
}

.fa-code:hover{
	background-color: blue;
	transition: 0.3s;
	cursor:pointer;
}

.fa-html5{
	font-size: 30px;
}

.fa-html5:hover{
	background-color: blue;
	transition: 0.3s;
	cursor:pointer;
}



.fa-css3-alt{
	font-size: 30px;
}

.fa-css3-alt:hover{
	background-color: blue;
	transition: 0.3s;
	cursor: pointer;
}

.fa-js{
	font-size: 30px;
}
.fa-js:hover{
	background-color: blue;
	transition: 0.3s;
	cursor: pointer;
}


.fa-database{
	font-size: 30px;
}
.fa-database:hover{
	background-color: blue;
	transition: 0.3s;
	cursor: pointer;
}


.fa-python{
	font-size: 30px;
}
.fa-python:hover{
	background-color: blue;
	transition: 0.3s;
	cursor: pointer;	
}

.edu{
	text-align: center;
}

#internship {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px,1fr));
	gap: 50px;
	justify-content: center;
	text-align: center;
	position: absolute;
	margin-left: 150px;
    margin-top: 400px;
	
}
#intern1 {
	
	margin: 0px;
	padding: 5px;
	flex: nowrap;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3 ease;
	

}
#intern1 {
	margin-left: 0px;
	color: powder-blue;
	padding: 10px;
}
#intern1 p:hover{
	color: blue;
	
}
#intern1 a{
	text-decoration: none;
}

#intern1 h4:hover{
	color: red;
}
#intern1:hover{
	background-color: #f2f2f2;		
}
#internship{
	margin-left:10px;
}
h2{
	text-align: center;
	margin-left: 500px;
	font-size: 32px;
}
#certificates{
	display: grid;
	grid-template-columns: repeat(3,minmax(200px,1fr));
	gap: 100px;
	justify-content: center;
	text-align: center;
	position: absolute;
	margin-left: 0px;
}
#cert1{
	margin: 0px;
	padding: 0px;
	box-shadow: 0px 0px 5px rgba(173, 140, 140, 0.7);
	border-radius: 5px;
	text-align: center;
	position: relative;
	height: 300px;
	width: 250px;
	justify-content: space-between;

}
#cert1{
	margin: 20px;
	display: inline-block;
	margin-left: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
#description{
	text-align: center;

}
#certificates{
	margin-top: 50px;
	
}
#cert1:hover{
	background-color: #f7efef;
	cursor: pointer;
	transition: 0.3s ease;
}
#description h3{
	text-align: center;
}
#cert1{
	padding-right: 100px;
}